* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  padding: 3px 19px 3px 19px;
  margin: 10px;
  display: inline-block;
  font-weight: 700;
  line-height: 49.23px;
  position: relative;
}

h1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px #000;
  pointer-events: none;
}

h1 span {
  display: block;
  transition: opacity 400ms; /* アニメーションのトランジションを設定 */
}

/* pc用のスタイル */

@media screen and (min-width: 768px) {

  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
    padding: 32px 16px 32px 16px;
    margin: 0 auto;
    max-width: 980px;
  }

  #nav-pc {
    font-size: 34px;
    font-weight: bold;
    margin: 18px;
  }

  #nav-pc > a {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
  }

  /* メインビジュアル */
  #main-visual {
    position: relative;
    width: 100%;
  }

  #main-visual > img {
    width: 100%;
  }

  /* about */
  h2 {
    font-size: 34px;
    color: #000;
    text-align: center;
  }

  #about {
    margin: 80px auto 80px auto;
    max-width: 820px;
  }

  #about-flex {
    width: 100%;
    display: flex;
  }

  #about-flex > img {
    width: 50%;
    margin: 20px;
  }

  #about-flex > img {
    width: 100%;
    width: 280px;
    border-radius: 140px 140px 140px 140px;
  }

  #about-flex > div {
    margin-top: 50px;
    width: 100%;
    margin-left: 50px;
  }

  /* works */
  #works-flex {
    max-width: 752px;
    display: flex;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .item {
    width: 100%;
    margin: 15px;
  }

  #works-flex > div {
    width: 33%;
  }

  #works-flex > div,img {
    width: 100%;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.06px;
  }

  /* footer */
  footer {
    border-color: #ffffff;
    text-align: center;
    padding-top: 200px;
  }

  footer > span {
    color: #000;
    font-size: 18px;
  }

  /* TOPに戻るボタン */
  #back-btn {
    display: none;

    padding: 28px 24px;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50%;
    font-family: "Noto Sans JP",sans-serif;

    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  /* スクロールしたらセクションをフェードインさせる */
  #about {
    opacity: 0;
    transform: translate(0,100px);
    transition: all 1s;
  }

  #works {
    opacity: 0;
    transform: translate(0,100px);
    transition: all 1s;
  }

  #about.active {
    opacity: 1;
    transform: translate(0,0);
  }

  #works.active {
    opacity: 1;
    transform: translate(0,0);
  }

  /* Worksの画像をクリックしたときにモーダルで拡大表示する */

  .item a:hover {
    opacity: 0.8;
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }

  .bigimg {
    position: absolute;
    width: 80%;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    margin: auto;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: #fff;
  }

  .close-btn a {
    color: #fff;
    text-decoration: none;
  }

}

/* スマホ用のスタイル */

@media screen and (max-width: 767px) {

  body {
    min-width: 375px;
    margin: 0;
  }

  /* ヘッダー */

  #nav-pc {
    font-size: 21px;
    font-weight: bold;
    margin-top: 20px;
    float: right;
  }

  #nav-pc > a {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
  }

  header {
    display: flex;
  }

  /* メインビジュアル */

  #main-visual {
    max-width: 375px;
  }

  #main-visual > img {
    width: 100%;
  }

  /* about */

  #about {
    max-width: 375px;
  }

  h2 {
    font-size: 28px;
    color: #000;
    text-align: center;
    margin: 30px 0;
    font-weight: 700;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-left: 40px;
  }

  ul {
    font-size: 18px;
    font-weight: 400;
    margin-left: 70px;
  }

  #about-flex > img {
    width: 280px;
  }

  #about-flex > img {
    border-radius: 140px 140px 140px 140px;
    margin-left: 45px;
  }


  /* works */

  #works-flex {
    max-width: 355px;
  }

  .item {
    width: 100%;
    width: 355px;
    margin-left: 22px;
    margin-bottom: 44px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.06px;
  }

  /* footer */
  footer {
    max-width: 375px;
    border-color: #ffffff;
    text-align: center;
  }

  footer > span {
    color: #000;
    font-size: 18px;
  }
}


